.App {
  border: 3px solid blue;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: black;
}

/*HEADER*/
.header {
  border: 2px solid;
}

/*H1*/
.title {
  background-color: orange;
  text-align: center;
  padding: 5px;
}

/*SELECT*/
.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid green;
  padding: 1rem;
  width: 100%;
  position: relative;
}
.select {
  border: 2px solid red;
}

.selectButtons-container {
  display: flex;
}

.btn {
  display: inline-block;
  border-radius: 15px;
  width: max-content;
  padding: 6px;
  border: 2px solid green;
}

.btn:hover {
  outline: none;
  border-color: #ff0040;
}

.selectFruits {
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 5px;
}

.option {
  padding: 10px;
  background-color: white;
  color: black;
}
.option:hover {
  background-color: rgb(190, 190, 190);
}

/*HEADER*/

/*MAIN*/
.main {
  flex: 1;
  background-color: #e1e1e1;
}

.section {
  border: 2px solid blue;
  margin-top: 1rem;
  background-color: white;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
}
.title-2 {
  font-size: medium;
}

.link-info {
  font-size: small;
  border: 1px solid;
  width: 50%;
}
