.App {
  border: 3px solid blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.main {
  min-height: 100vh;
  background-color: rgb(219, 219, 219);
}

/*HEADER*/
.header {
  border: 2px solid;
}

/*H1*/
.title {
  background-color: orange;
  text-align: center;
}

/*SELECT*/
.select-wrapper {
  border: 3px solid green;
  padding: 1rem;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  display: block;
  border: 1px solid black;

  border-radius: 15px;
  padding: 5px;

  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
  min-width: 100px; /* Largeur minimale */
  max-width: 100px; /* Largeur maximale */

  /* Pour enlever le style par défaut */
  /* supprime la fleche collé au bord*/
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

.option {
  background-color: aqua;
}

/*HEADER*/
